<!-- BEGIN breadcrumb -->
<ol class="breadcrumb float-xl-end">
  <li class="breadcrumb-item"><a [routerLink]="'/'">Панель управления</a></li>
  <li class="breadcrumb-item active">Промоакции</li>
</ol>
<!-- END breadcrumb -->
<!-- BEGIN page-header -->
<h1 class="page-header">Промоакции <small> список всех промоакций</small></h1>
<!-- END page-header -->

<app-panel title="Таблица промоакций" footerClass="pb-0 pt-20px" [noButton]="true" variant="default">
  <div class="row">
    <div class="col-lg-4">
      <input class="form-control" placeholder="Поиск..." (keyup)="updateFilter($event)" />
    </div>
    <div class="col-lg-8 text-center">
    </div>
  </div>
  <ng-container header>
    <a href="#modal-dialog" class="btn btn-default btn-xs" data-bs-toggle="modal" (click)="openModalForCreate()"><i class="fa fa-square-plus me-1"></i> Создать промоакцию</a>
  </ng-container>

  <ng-container outsideBody>
    <hr class="m-0 bg-gray-600" />
    <div class="table-responsive text-nowrap">
      <ngx-datatable
        #table
        class="bootstrap"
        [columnMode]="ColumnMode.force"
        [headerHeight]="50"
        [footerHeight]="50"
        rowHeight="auto"
        [limit]="25"
        [rows]="rows">
        <ngx-datatable-column name="Название" [prop]="'nameRu'"></ngx-datatable-column>
        <ngx-datatable-column name="Скидка" [prop]="'discount'"></ngx-datatable-column>
        <ngx-datatable-column name="Дата начала" [prop]="'start_date'">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.start_date | date: 'dd.MM.yyyy' }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Дата окончания" [prop]="'end_date'">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.end_date | date: 'dd.MM.yyyy' }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [sortable]="false" [canAutoResize]="false" [draggable]="false">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <a href="#modal-dialog" class="btn btn-sm btn-primary w-60px me-1" data-bs-toggle="modal" (click)="openModalForEdit(row)">Edit</a>
            <button class="btn btn-sm btn-white w-60px" (click)="deletePromotion(row.id)">Delete</button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </ng-container>
</app-panel>

<!-- #modal-dialog -->
<div class="modal fade" id="modal-dialog" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">{{ promotion.id ? 'Обновить' : 'Создать' }} Промоакцию</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #f="ngForm" (ngSubmit)="formSubmit(f)">
          <input type="hidden" [(ngModel)]="promotion.id" name="id">
          <div class="mb-3">
            <label for="image" class="form-label">Изображение</label>
            <input type="file" class="form-control" id="image" (change)="onImageChange($event)" accept="image/*">
          </div>

          <div *ngIf="!selectedImagePreview && promotion.image" class="mb-3 text-center">
            <img [src]="promotionImageUrl(promotion)"  alt="Изображение" class="img-fluid" style="max-height: 200px;">
          </div>

          <div *ngIf="selectedImagePreview" class="mb-3 text-center">
            <img [src]="selectedImagePreview" alt="Превью изображения" class="img-fluid" style="max-height: 200px;">
          </div>

          <div class="mb-3">
            <label for="nameRu" class="form-label">Название (RU)</label>
            <input type="text" class="form-control" id="nameRu" [(ngModel)]="promotion.nameRu" name="nameRu" required>
          </div>
          <div class="mb-3">
            <label for="nameRo" class="form-label">Название (RO)</label>
            <input type="text" class="form-control" id="nameRo" [(ngModel)]="promotion.nameRo" name="nameRo" required>
          </div>
          <div class="mb-3">
            <label for="descriptionRu" class="form-label">Описание (RU)</label>
            <textarea class="form-control" id="descriptionRu" [(ngModel)]="promotion.descriptionRu" name="descriptionRu" rows="3" required></textarea>
          </div>
          <div class="mb-3">
            <label for="descriptionRo" class="form-label">Описание (RO)</label>
            <textarea class="form-control" id="descriptionRo" [(ngModel)]="promotion.descriptionRo" name="descriptionRo" rows="3" required></textarea>
          </div>
          <div class="mb-3">
            <label for="discount" class="form-label">Скидка (%)</label>
            <input type="number" class="form-control" id="discount" [(ngModel)]="promotion.discount" name="discount" required>
          </div>
          <div class="mb-3">
            <label for="start_date" class="form-label">Дата начала</label>
            <input type="date" class="form-control" id="start_date" [(ngModel)]="promotion.start_date" name="start_date" required>
          </div>
          <div class="mb-3">
            <label for="end_date" class="form-label">Дата окончания</label>
            <input type="date" class="form-control" id="end_date" [(ngModel)]="promotion.end_date" name="end_date" required>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-white" data-bs-dismiss="modal">Закрыть</button>
            <button type="submit" class="btn btn-success">{{ promotion.id ? 'Обновить' : 'Создать' }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
